<h1>Journal Entrys</h1>
<br>
<%= link_to 'Create new Post','/blog_posts/new', class: "button" %> <%= link_to 'Add New Category','/categories/new', class: "button" %> 
<br>
<br>
<%= flash[:notice] %>
<% @all_posts.each do |post| %>
<ul style="list-style:none"> 
<li>
  <b><%= post.title %></b>
</li>
<li>
  <%= post.post %>
</li>
 Category: <%= post.category.name %>
<li>
  <%= post.created_at.strftime("%B-%d-%Y") %>
</li>
  <%= link_to 'Delete', post, method: :delete %>
</ul>
<% end %>