<div class="row">
  <div class="large-">
    <div class="row">
      <div class="large-6 columns">
        <h1>Edit Categories</h1>
        <%= form_for(@category) do |f| -%>
          <%= f.label :name %>
          <%= f.text_field(:name) %>
          <%= f.submit 'Save', class: "button" %>
          <%= link_to 'Delete', @category, method: :delete %>
          <%=flash[:error] %>
        <% end %>
      </div>
    </div>
  </div>
</div>
